<p>コメント蘭</p>
<table class="table table-borderless">
  <thead>
    <tr>
      <th style="width: 30%"></th>
      <th style="width: 40%"></th>
      <th style="width: 20%"></th>
    </tr>
  </thead>
  <% book.book_comments.each do |book_comment| %>
  <tr>
    <td>
    <%= link_to(book_comment.user) do %>
      <%= image_tag book_comment.user.get_profile_image, size:"50x50" %><br>
      <%= book_comment.user.name %>
    <% end %>
    </td>
    <td><%= book_comment.comment %></td>
    <td>
    <% if book_comment.user == current_user %>
      <%= link_to "削除", book_book_comment_path(book_comment.book, book_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
    <% end %>
    </td>
  </tr>
  <% end %>
</table>
<div class="formd-group">
<%= form_with model: [book, book_comment] do |f| %>
  <%= f.text_area :comment, class: 'form-control book_comment',rows: '5' %><br>
  <%= f.submit "送信" %>
<% end %>
</div>